@charset "UTF-8";
body, html{
width:100%;
font-family:"Roboto","Arial";
	background-image:url(../imagem/registro.jpeg);
	background-size: cover;
}

*{	
	color:white;
}


h1{
font-size: 200%;
margin-bottom: 0px;
}


input{
	width: 80%;
    height: 28px;
    color:black;
    font-size: 20px;
    
}
.pe{
	margin-top: 0px;
	font-size: 24px;
    margin-bottom: 0px;
}

form{
	width:30%;
	background-color: rgba(5, 5, 5,0.3);
    padding: 0px 44px;
    margin-top: 2%;
}


.btn{
width: 90px;
height: 40px;
background-color:#17a2b8;
border: none;
text-align: center;
color: white;
margin-bottom: 20px;
transition: background-color .4s;
}

.btn:hover{
	background-color:rgb(19,132, 150);
}




