	@import url('https://fonts.googleapis.com/css?family=Roboto');
	body{
	background-color:#1493ce;
	text-align: center;
	font-family: "Roboto", "Arial";
	color:white;
	}
	
	.coiso{
	color: white;
	font-size:800%;
	}
	
	h1{
	color: white;
	font-size: 800%;
	margin-bottom:-10px;
	}
	
	
	p{
	padding-top: -10px;
	font-size: 150%;
	}
	
	h2{
color: white;
font-size: 500%;
margin-bottom: -10px;
}