
@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
	text-align: center;
	font-family: "Roboto", "Arial";
}

.tudo {
margin-top:0px;

}


.landing{
	background-image:url("../imagem/landing.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-repeat: no-repeat;
	height:950px;
}

h2{
	margin-top: 3% !important;
}

.opcao {
	margin-bottom: 2% !important;
}

a{
text-decoration: none;
color: #1493ce;
transition: background-color .4s;


}

img{
	width: 600px;
	height:600px;;
	margin-bottom: 0px;
    
}

.btn .btn-primary{
	background-color:  #1493ce;
	transition: color .4s;
}

.btn .btn-primary:hover{
	background-color: #007bff;
}