@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
font-family:"Roboto","Arial";

}

h1{
font-size: 200%;
margin-bottom: 0px;
}

input{
width:auto;
transition: ease-in-out, width .35s ease-in-out;
}

input:focus{
width:10%;
}

.btn{
width: 80px;
height: 30px;
background-color:#17a2b8;
border: none;
text-align: center;
color: white;
border-radius: 2.5px;
}